<div class="container" style="padding-top: 5rem;">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <a class="text-light" id="dropdownBasic1" ngbDropdownToggle>
        By Date
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>
          Last Hour
        </button>

        <button ngbDropdownItem>
          Last Week
        </button>

        <button ngbDropdownItem>
          Last Month
        </button>
      </div>
    </div>
  </div>
</div>
