.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.2s 0.2s ease;
  transform: translateY(-150%);
  opacity: 1;
}

.displayNone {
  display: none;
}
