.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  max-height: 55rem;
}

img {
  max-width: 30rem;
  max-height: 30rem;
}

.card-body {
  margin: 10px;
}

.card {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.back {
  margin: 2rem;
  margin-top: 4rem;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

.text-center {
  vertical-align: middle;
}
