<nav
  class="navbar navbar-expand-lg  nav-container text-light sticky"
  style="background-color: var(--secondary)"
>
  <header
    class="nav-header navbar-brand font-weight-bold"
    style="font-size: 26px;"
  >
    Pictresque.
  </header>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>

    <form class="form-inline my-2 my-lg-0">
      <app-search></app-search>

      <button
        type="button"
        class="btn btn-outline-dark mx-2"
        (click)="logout()"
      >
        Sign Up
      </button>

      <button type="button" class="btn btn-dark mx-2" (click)="logout()">
        Sign In
      </button>

      <button type="button" class="btn btn-dark" (click)="logout()">
        Logout
      </button>
    </form>
  </div>
</nav>
