<div class="container" style="padding-top: 5rem;">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <a
        class="text-light"
        [innerHtml]="selectedCategory"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        All Categories
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="fetchAllCategoryPosts()">
          All Categories
        </button>
        <button
          ngbDropdownItem
          *ngFor="let cat of categories"
          (click)="fetchCategoryPosts(cat.category, cat._id)"
        >
          {{ cat.category | titlecase }}
        </button>
      </div>
    </div>
  </div>
</div>
