<div class="container-fluid ">
  <div class="row">
    <div class="col bg-light text-dark">
      <!-- ? REGISTER FORM -->
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerUser()"
        *ngIf="display"
      >
        <div class="text-center mx-5">
          <h1 class="font-weight-bold my-4">Register</h1>
          <h5 class="mb-5">Hey there! Signup to continue</h5>

          <div class="d-flex flex-column">
            <label for="emailSignup">Email</label>

            <ngb-alert
              [dismissible]="false"
              type="danger"
              *ngIf="emailSignup.invalid && emailSignup.touched"
            >
              <strong>Oh oh!</strong> Your email does not look right!
            </ngb-alert>

            <ngb-alert
              [dismissible]="false"
              type="danger"
              *ngIf="registerErrors"
            >
              {{ registerErrors.error.message }}
            </ngb-alert>

            <input
              class="border-top-0 border-left-0 border-right-0 my-2 p-2"
              id="emailSignup"
              type="text"
              formControlName="emailSignup"
              placeholder="Email"
              required
            />

            <label for="passwordSignup">Password</label>

            <ngb-alert
              [dismissible]="false"
              type="danger"
              *ngIf="passwordSignup.invalid && passwordSignup.touched"
            >
              <strong>Oops!</strong> Password is weak!
            </ngb-alert>

            <input
              class="border-top-0 border-left-0 border-right-0 my-2 p-2"
              id="passwordSignup"
              name="passwordSignup"
              type="password"
              formControlName="passwordSignup"
              placeholder="Password"
              required
            />

            <div class="my-3 text-center">
              <button class="btn btn-warning mx-1" (click)="showSignin($event)">
                Sign In
              </button>

              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="btn btn-outline-info mx-1"
              >
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- ? LOGIN FORM -->
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" *ngIf="!display">
        <div class="mx-5" [class.animation-slide-right]="!display">
          <h1 class="text-center font-weight-bold my-4">Login</h1>
          <h5 class="text-center mb-5">Woosh! login to continue</h5>

          <!-- ? EMAIL AND PASSWORD INPUTS -->
          <div class="d-flex flex-column">
            <!-- ? EMAIL LABEL, INPUT, NGBALERT-->
            <label for="emailSignin">Email</label>

            <ngb-alert
              [dismissible]="false"
              type="danger"
              *ngIf="emailSignin.invalid && emailSignin.touched"
            >
              <strong>Oh oh!</strong> Your email does not look right!
            </ngb-alert>

            <ngb-alert [dismissible]="false" type="danger" *ngIf="loginErrors">
              {{ loginErrors.error.message }}
            </ngb-alert>

            <input
              class="border-top-0 border-left-0 border-right-0 my-2 p-2"
              id="emailSignin"
              type="text"
              formControlName="emailSignin"
              placeholder="Email"
              required
            />

            <!-- ? PASSWORD LABEL, INPUT, NGBALERT-->
            <label for="passwordSignin">Password</label>

            <input
              class="border-top-0 border-left-0 border-right-0 my-2 p-2"
              id="passwordSignin"
              name="passwordSignin"
              type="password"
              formControlName="passwordSignin"
              placeholder="Password"
              required
            />

            <div class="my-3 text-center">
              <button class="btn btn-warning mx-1" (click)="showSignup()">
                Sign Up
              </button>

              <button
                type="submit"
                class="btn btn-outline-info mx-1"
                [disabled]="!loginForm.valid"
              >
                Sign In
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col">
      <!-- ? SOCIAL NETWORK LOGIN -->
      <h1 class="font-weight-bold text-center my-4 text-light">
        Sign in with your social networks
      </h1>

      <h5 class="text-center mb-3 text-light">Greatness awaits!</h5>

      <div class="d-flex text-center flex-column">
        <div>
          <button
            class="btn btn-primary my-2 btn-lg"
            style="width: 65%;"
            (click)="signInWithFacebook()"
          >
            Log in with Facebook
          </button>
        </div>
        <div>
          <button class="btn btn-info my-2 btn-lg" style="width: 65%;">
            Log in with Twitter
          </button>
        </div>
        <div>
          <button class="btn btn-danger my-2 btn-lg" style="width: 65%;">
            Log in with Google+
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
