<div id="login-box">
  <!-- ? FORM -->
  <form [formGroup]="form" (ngSubmit)="registerUser()">
    <!-- ? SIGN UP FORM -->
    <div
      class="left-box-signup"
      [class.animation-out]="display"
      [class.animation-forward]="test"
    >
      <h1>Register</h1>
      <h5>Hey there! Signup to continue</h5>

      <div class="input-container">
        <label for="emailSignup">Email</label>

        <ngb-alert
          [dismissible]="false"
          type="danger"
          *ngIf="emailSignup.invalid && emailSignup.touched"
        >
          <strong>Oh oh!</strong> Your email does not look right!
        </ngb-alert>

        <ngb-alert
          [dismissible]="false"
          type="danger"
          *ngIf="registerErrors || emailSignup.dirty"
        >
          {{ registerErrors.error.message }}
        </ngb-alert>

        <input
          id="emailSignup"
          type="text"
          formControlName="emailSignup"
          placeholder="Email"
          required
        />

        <label for="passwordSignup">Password</label>

        <ngb-alert
          [dismissible]="false"
          type="danger"
          *ngIf="passwordSignup.invalid && passwordSignup.touched"
        >
          <strong>Oops!</strong> Password is weak!
        </ngb-alert>

        <input
          id="passwordSignup"
          name="passwordSignup"
          type="password"
          formControlName="passwordSignup"
          placeholder="Password"
          required
        />

        <div class="btn-container">
          <button class="btn-signup" (click)="registerUser()">
            Sign Up
          </button>
          <!-- <input type="submit" class="btn-signup" [disabled]="!form.valid" /> -->
          <button class="btn-signup" (click)="showSignin($event)">
            Sign In
          </button>
        </div>
      </div>
    </div>

    <!-- ? LOGIN UP FORM -->
    <div
      class="left-box-signin"
      [class.animation-in]="display"
      [class.animation-back]="test"
    >
      <h1>Login</h1>
      <h5>Woosh! login to continue</h5>

      <div class="input-container">
        <label for="emailSignin">Email</label>

        <ngb-alert
          [dismissible]="false"
          type="danger"
          *ngIf="emailSignin.invalid && emailSignin.touched"
        >
          <strong>Oh oh!</strong> Your email does not look right!
        </ngb-alert>

        <ngb-alert [dismissible]="false" type="danger" *ngIf="loginErrors">
          {{ loginErrors.error.message }}
        </ngb-alert>

        <input
          id="emailSignin"
          type="text"
          formControlName="emailSignin"
          placeholder="Email"
          required
        />

        <label for="passwordSignin">Password</label>

        <!-- <ngb-alert
          [dismissible]="false"
          type="danger"
          *ngIf="loginErrors || emailSignin.dirty"
        >
          {{ loginErrors.error.message }}
        </ngb-alert> -->

        <input
          id="passwordSignin"
          name="passwordSignin"
          type="password"
          formControlName="passwordSignin"
          placeholder="Password"
          required
        />

        <div class="btn-container">
          <button class="btn-signup" (click)="showSignup()">Sign Up</button>
          <button class="btn-signup" (click)="loginUser()">
            Sign In
          </button>
        </div>
      </div>
    </div>
  </form>

  <!-- ? SOCIAL NETWORK LOGIN -->
  <div class="right-box">
    <h1>Sign in with your social networks</h1>

    <h5>Greatness awaits!</h5>

    <button class="social facebook">Log in with Facebook</button>

    <button class="social twitter">Log in with Twitter</button>

    <button class="social google">Log in with Google+</button>
  </div>
</div>
