<div class="card-columns container" style="padding-top: 5rem">
  <div
    class="card my-2 text-light shadow"
    style="background-color: var(--secondary); 
    border-radius: 20px; 
    border:none;"
    *ngFor="let post of posts"
    (click)="goToDetails(post)"
  >
    <img
      style="border-radius: 20px;"
      [src]="post.imageUrl"
      class="card-img-top post-img"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{ post.title }}</h5>
      <p class="card-text">
        {{ post.description }}
      </p>
    </div>
  </div>
</div>
