.card-columns {
  column-count: 4;

  @media screen and (max-width: 1024px) {
    column-count: 3;
  }
  @media screen and (max-width: 425px) {
    column-count: 2;
  }
}

.card:hover {
  cursor: pointer;
  .post-img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px rgb(22, 22, 22));
    transition: all 0.1s ease-in;
  }
}
