.card-columns {
  column-count: 4;

  @media screen and (max-width: 1024px) {
    column-count: 3;
  }
  @media screen and (max-width: 425px) {
    column-count: 2;
  }
}

.card:hover {
  cursor: pointer;
  .post-img {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
  }
}
