.card-columns {
  column-count: 4;

  @media screen and (max-width: 1024px) {
    column-count: 3;
  }
  @media screen and (max-width: 425px) {
    column-count: 1;
  }
}

.card {
  cursor: pointer;
}
