<div class="container" style="padding-top: 5rem;">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <a class="text-light" id="dropdownBasic1" ngbDropdownToggle>
        By Date
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>
          <i class="icon ion-ios-arrow-dropup-circle"></i> Ascending
        </button>
        <button ngbDropdownItem>
          <i class="icon ion-ios-arrow-dropdown-circle"></i> Descending
        </button>
      </div>
    </div>
  </div>
</div>
