<div id="columns">
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3-eu-west-1.amazonaws.com/black-mockup-1570219139386.jpg"
    />
    <div class="container">
      <h4><b>Iphone XS Max</b></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. .
      </p>
    </div>
  </figure>
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3.eu-west-1.amazonaws.com/Screenshot_3-1570230997203.png"
    />
    <figcaption>
      Lorem ipsum dolor sit amet consectetur adipisicing elisssssssssst. .
    </figcaption>
  </figure>
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3.eu-west-1.amazonaws.com/0efa80e92b47e4ae142d25dd8a5fbb42-1570231159053.jpg"
    />
    <figcaption>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. .
    </figcaption>
  </figure>
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3.eu-west-1.amazonaws.com/1a15453ed623c799a88bd83b1f5f9c88-1570231194189.jpg"
    />
    <figcaption>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. .
    </figcaption>
  </figure>
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3.eu-west-1.amazonaws.com/8b6980e252aa993b60aa18793550f05b-1570231213255.jpg"
    />
    <figcaption>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. .
    </figcaption>
  </figure>
  <figure>
    <button class="btn-pin">
      <img src="../../../assets/pin.jpg" style="width:100%" />
    </button>
    <img
      src="https://api-image-upload.s3.eu-west-1.amazonaws.com/14fd5d91b1d87265026c198aeaefede1-1570231231020.jpg"
    />
    <figcaption>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. .
    </figcaption>
  </figure>
</div>
