/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

// ** GLOBAL STYLE VARIABLES
:root {
  --primary: #06070d;
  --secondary: #06070d;
  --tertiary: #ffc107;
}

.swal2-popup {
  background: var(--primary) !important;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.8) !important;
}

.swal2-styled.swal2-cancel {
  background: var(--danger) !important;
}

.swal2-styled.swal2-confirm {
  background: var(--warning) !important;
  color: var(--primary) !important;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Montserrat";
}

body {
  background: rgb(25, 29, 35);
  background: linear-gradient(
    180deg,
    rgba(25, 29, 35, 1) 0%,
    rgba(6, 7, 13, 1) 59%
  );

  overflow-x: hidden;
  overflow-y: scroll;
}

html,
body {
  background-color: var(--primary);
  height: 100%;
}
