/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

// ** GLOBAL STYLE VARIABLES

:root {
  --primary: #06070d; //121212
  --secondary: #06070d; //1d1d1d
  --tertiary: #ffc107;
}

.swal2-popup {
  background: var(--primary) !important;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.8) !important;
}

.swal2-styled.swal2-cancel {
  background: var(--danger) !important;
}

.swal2-styled.swal2-confirm {
  background: var(--warning) !important;
  color: var(--primary) !important;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Montserrat";
}

button:focus,
button:active {
  outline: 0;
}

.modal-holder {
  animation-name: scaleAnim;
  animation-duration: 0.3s;
}

body {
  background: rgb(25, 29, 35);
  background: linear-gradient(180deg,
      rgba(25, 29, 35, 1) 0%,
      rgba(6, 7, 13, 1) 59%);
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
