<!-- <app-navbar></app-navbar> -->

<div class="container" style="padding-top: 5rem;">
  <div class="row">
    <div class="col">
      <h2 class="font-weight-bold text-light mt-5">Ibraheem Ghaffar</h2>

      <div class="d-flex text-light ">
        <h5 class="mr-2">0 Followers</h5>
        <h5 class="mr-2">0 Following</h5>
      </div>
    </div>
    <div class="col">
      <div class="circle mx-auto mt-3">
        <p class="circle-text text-dark font-weight-bold">I</p>
      </div>
    </div>
  </div>

  <div class="row">row 2</div>
</div>
